@import "index.scss";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
  }
}

.navigation_follow {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
    justify-content: space-between;
    gap: 110px;
  }

  @media screen and (min-width: 768px) {
    display: table;
  }

  @media screen and (min-width: 1440px) {
    display: contents;
  }
}


.nav {
    display: grid;
    gap: 16px;
    @media screen and (max-width: 768px) {
      gap: 14px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
}
@media screen and (min-width: 1440px) {
  margin-top: 0;
}
}

.link_pages {
  text-decoration: none;
  color: var(--primary-text-color) 
}  

  

  

