.mainTitle {
  font-family: inherit;
  color: var(--primary-text-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.19;
  padding-left: 32px;
  margin-bottom: 40px;
  margin-top: 80px;
}
@media (min-width: 768px) {
  .mainTitle {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 60px;
    margin-top: 140px;
  }
}
@media (min-width: 1440px) {
  .mainTitle {
    font-size: 64px;
    margin-bottom: 62px;
    margin-top: 158px;
  }
}