// .imgWrapper {
//     width: 200px;
//     height: 200px;
//     cursor: pointer;

//     @media screen and (min-width: 768px) {
//         width: 320px;
//         height: 320px;
//       }
    
//       @media screen and (min-width: 1440px) {
//         height: 400px;
//         width: 400px;
//       }
// }

.addImg {
    cursor: pointer;
    object-fit: cover;
    object-position: center center;
    width: 335px;
    height: 320px;

    @media screen and (min-width: 768px) {
        width: 320px;
        height: 320px;
      }
    
      @media screen and (min-width: 1440px) {
        height: 400px;
        width: 400px;
      }
}

.imgInput {
    display: none;
    width: 335px;
    height: 320px;

    @media screen and (min-width: 768px) {
        width: 320px;
        height: 320px;
      }
    
      @media screen and (min-width: 1440px) {
        height: 400px;
        width: 400px;
      }
}