button {
  display: inline-flex;
  padding: 16px 41px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.12;
  color: var(--secondary-text-color);
  background-color: var(--primary-btn-bg-color);
  cursor: pointer;

  // letter-spacing: ;
  // border: 2px;
  border-radius: 42px;
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--hover-btn-bg-color);
  }
}

// .button-disabled {
//   @extend .button;
//   color: var(--primary-white-color);
//   background-color: var(--disabled-btn-bg-color);
// }