.list {
  padding-left: 32px;
  padding-right: 32px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
