.div__logo_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.div__logo_p{
    text-decoration: none;
    color:var(--primary-text-color)
}