.popularTitle {
	margin-bottom: 26px;

	color: var(--primary-text-color);
	font-family: "Manrope-Medium", Helvetica;
	font-size: 18px;
	font-weight: 500;


	@media (min-width: 768px) {}

	@media (min-width: 1440px) {}
}