.popularTitle {
	margin-bottom: 28px;

	color: var(--primary-text-color);
	font-family: "Manrope-Medium", Helvetica;
	font-size: 18px;
	font-weight: 500;


	@media (min-width: 768px) {
		margin-bottom: 40px;

		font-size: 24px;
		line-height: calc(32/24);
	}
}

.popularList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 24px;


	@media (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 32px;
	}

	@media (min-width: 1440px) {
		width: 313px;

		flex-direction: column;
	}
}

.popularItem {
	height: 90px;

	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 14px;


	@media (min-width: 768px) {
		flex-basis: calc((100% - 32px)/2);
	}
}

.popularPhoto {
	border-radius: 10px;
	height: 90px;
	width: 90px;
}

.popularSubTitle {
	margin-bottom: 8px;

	color: var(--primary-text-color);
	font-family: "Manrope-Medium", Helvetica;
	font-size: 16px;
	font-weight: 500;
	line-height: calc(22/16);
}

.popularInstruction {
	// height: 63px;
	overflow: hidden;

	color: #f3f3f380;
	font-family: "Manrope-Regular", Helvetica;
	font-size: 13px;
	font-weight: 400;
    line-height: 18px;
	// line-height: calc(18/14);
	@media (min-width: 768px) and (max-width:1439px) {
	
		line-height: 20px;
	}
	@media (min-width: 1440px) {
		line-height: calc(20/14);
	}
}

.container{
	@media (max-width: 768px) {
		display: block;
		margin-top: 40px;
		margin-bottom: 80px;
	}
	@media (min-width: 768px) and (max-width: 1439px) {
		margin-top: 80px;
		margin-bottom:140px;
	}
	@media (min-width: 1440px) {
		display:block;
		width: 313px;
		margin-top: 80px;
	}
}

.link {
	text-decoration: none;
}