.mainTitle {
  color: rgba(243, 243, 243, 1);
  font-size: 32px;
  padding-left: 20px;

  @media (min-width: 768px) {
    font-size: 56px;
  }
  @media (min-width: 1440px) {
    font-size: 64px;
  }
}
