.div__header{
    display: flex;
    justify-content: center;
    align-items: center;
}




.hidden_navigation{
    display: none;
    

    @media (min-width: 1440px) {
            display: block;

        }
    
}