:root {
  --primary-bg-color: #0a0a11;
  --secondary-bg-blue-color: #161f37;
  --disabled-blue-color: #434d67;
  --main-blue-color: #4070cd;
  --primary-white-color: #f3f3f3;
  --primary-text-color: #f3f3f3;
  --secondary-text-color: #161f37;
  --primary-btn-bg-color: #f3f3f3;
  --hover-btn-bg-color: #161f37;
  --disabled-btn-bg-color: #434d67;
  --error-red-color: #da1414;
  --success-green-color: #3CBC81;
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}