.div__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    gap: 15px;
}

.header {
    transition: height 0.3s ease;
    border-bottom: 1px solid #F3F3F333;
    ;
}

.div__header_position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden_navigation {
    display: none;


    @media (min-width: 1440px) {
        display: flex;

    }

}