.btn{
  display: inline-flex;
  margin-bottom: 140px;
  margin-top: 80px;
  text-align: center;
  
}
.btn {
  font-size: 16px;
  font-weight: 600;
  border-radius: 42px;
  padding: 14px 40px;
  background-color: #F3F3F3;
  color: #161F37;
  border-color: transparent;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover, .btn:focus {
  background-color: #161F37;
  color: #F3F3F3;
  border-color: transparent;
}
@media (min-width: 768px) {
  .btn {
    font-size: 16px;
    padding: 18px 44px;
  }
}

.btn_cont{
  text-align: center;
}