.react-select__indicator-separator {
  display: none !important;
}

.ingredient {
  width: 200px;
  height: 50px;
  @media screen and (min-width: 768px) {
    width: 332px;
    height: 56px;
  }
}

.value {
  width: 101px;
  height: 50px;
  @media screen and (min-width: 768px) {
    width: 150px;
    height: 56px;
  }
}

.react-select-ingredient {
  &__control {
    height: 50px !important;
    border-color: rgba(243, 243, 243, 0.5) !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 200px !important;

    background-color: transparent !important;
    &__menu {
      background-color: #841616 !important;
    }
    &--is-focused .react-select-ingredient__placeholder {
      color: rgba(243, 243, 243, 1);
    }
  }
  &__menu {
    color: rgba(243, 243, 243, 0.4);
    background-color: rgba(22, 31, 55, 1) !important;
    border-radius: 12px !important;
    &-list {
      border-radius: 12px !important;
      height: 250px;
      @media screen and (min-width: 768px) {
        border-radius: 20px !important;
      }
    }
  }
  &__option {
    background-color: transparent !important;

    &:hover {
      color: rgba(243, 243, 243, 1);
    }
  }
  &__value-container &__single-value {
    text-indent: 12px;
    color: rgba(243, 243, 243, 1);
  }
  &__placeholder {
    font-size: 14px;
    text-indent: 12px !important;
    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
  }
  &__indicator-separator {
    display: none;
  }
}

.react-select-value {
  &__control {
    height: 50px !important;
    border-color: rgba(243, 243, 243, 0.5) !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 200px !important;

    background-color: transparent !important;
    &--is-focused &__placeholder {
      color: rgba(243, 243, 243, 1);
    }
  }
  &__menu {
    color: rgba(243, 243, 243, 0.4);
    border-radius: 12px !important;
    background-color: rgba(22, 31, 55, 1) !important;
    &-list {
      border-radius: 12px;
      @media screen and (min-width: 768px) {
        border-radius: 20px !important;
      }
    }
  }
  &__option {
    background-color: transparent !important;

    &:hover {
      color: rgba(243, 243, 243, 1);
    }
  }
  &__value-container &__single-value {
    text-indent: 12px;
    color: rgba(243, 243, 243, 1);
  }
  &__placeholder {
    font-size: 14px;
    text-indent: 12px !important;
    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
  }
  &__indicator-separator {
    display: none;
  }
}
