.sign_button {
  border-radius: 42px;
  border: 1px solid rgba(243, 243, 243, 0.2);
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  background-color: transparent;
  color: var(--primary-white-color);
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: var(--primary-btn-bg-color);
    color: var(--secondary-text-color);
    transition: var(--transition-duration);
  }
}

@media screen and (max-width: 767px) {
  .sign_button {
    width: 125px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .sign_button {
    width: 140px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .sign_button {
    width: 140px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    text-decoration: none;
  }
}

.registration_button {
  border-radius: 42px;
  line-height: 18px;
  letter-spacing: 0em;
  cursor: pointer;
}

.welcome_form {
  color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  letter-spacing: -0.02em;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .welcome_form {
    width: 335px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .welcome_form {
    width: 470px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    left: 64px;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1440px) {
  .welcome_form {
    max-width: 485px;
    transform: translateY(-50%);
    left: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}

.button_form {
  padding-top: 40px;
  display: flex;
  gap: 14px;
}

@media screen and (max-width: 767px) {
  .button_form {
    justify-content: center;
  }
}

.title {
  color: var(--primary-white-color);
  margin-bottom: 14px;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .text {
    text-align: center;
  }
}

.image_half {
  flex: 1;
  background: url('../../images/backgroundMobile.png') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .image_half {
    width: 50%;
    height: 100%;
    background: url('../../images/backgroundTablet.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .image_half {
    background: url('../../images/BackgroundImage.png') no-repeat center;
    width: 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
