
/* THIS FILE REBASED */

/* 
 .sign_button { 
    width: 140px; 
    border-radius: 42px; 
    border: 1px solid rgba(243, 243, 243, 0.2); 
    padding-top: 18px; 
    padding-bottom: 18px; 
    font-size: 16px; 
    font-weight: 600; 
    line-height: 18px; 
    letter-spacing: 0em; 
    background-color: transparent; 
    color: rgba(243, 243, 243, 1); 
    cursor: pointer; 
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
 }  
*/
 
/* .sign_button:hover { 
    background-color: rgba(243, 243, 243, 1); 
    color: rgba(22, 31, 55, 1); 
} 
  */

  /* 
  
  .welcome_form { 
    width: 485px; 
     
    color: rgba(243, 243, 243, 1); 
    position: absolute; 
    top: 50%; 
    left: 100px;  
    transform: translateY(-50%); 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 24px; 
    letter-spacing: -0.02em; 
} 
*/

/* 
.button_form { 
    padding-top: 40px; 
    display: flex; 
    gap: 10px; 
}  
*/

/* 
.title { 
    color: rgba(243, 243, 243, 1); 
    font-size: 40px; 
    font-weight: 600; 
    line-height: 44px; 
    letter-spacing: -0.02em; 
    text-align: left; 
    margin-bottom: 14px; 
}
  */

  /* .image_half { 
    flex: 1;  
    background: url('/src/images/BackgroundImage.png') no-repeat center; 
    background-size: cover; 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 50%; 
    height: 100%; 
  } */