.item {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.picture {
  margin-bottom: 18px;
  @media (min-width: 768px) {
    margin-bottom: 24px;
  }
}
.coctailName {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-text-color);
  margin-bottom: 4px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}
.text {
  font-family: inherit;
  font-weight: 500;
  color: rgba(243, 243, 243, 0.5);
  margin-bottom: 18px;
  font-size: inherit;
  line-height: 1.33;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.13;
    margin-bottom: 24px;
  }
}
.description {
  font-family: inherit;
  color: var(--primary-text-color);
  height: 110px;
  font-size: inherit;
  line-height: 1.29;
  margin-bottom: 18px;
  max-width: 100%;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 24px;
  }
}
.btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.iconDelete {
  width: 24px;
  height: 24px;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--hover-btn-bg-color);
  }
}
.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  border: solid 2px transparent;
  border-radius: 42px;
  padding: 14px 40px;
  background-color: var(--hover-btn-bg-color);
  color: var(--primary-text-color);
  border-color: transparent;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    color: var(--hover-btn-bg-color);
    border-color: transparent;
  }
  @media (min-width: 768px) {
    font-size: 16px;
    padding: 18px 44px;
  }
}

.delete {
  margin-left: 8px;
  border-radius: 50%;
  background-color: var(--hover-btn-bg-color);
  border-color: transparent;
  padding: 11px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    color: var(--hover-btn-bg-color);
    border-color: transparent;
  }

  @media (min-width: 768px) {
    padding: 15px 16px;
  }
}
